<div class="edit-menu--background" role="banner">
  <div class="edit-menu--background-inner">
    <div class="edit-menu--toggle-icon" data-ng-click="close()">
      <div class="svg-clickable">
        <object data="bundles/os2displayadmin/images/svg/cancel.svg"
                type="image/svg+xml">
          <!-- Fallback (ie8)-->
          <img src="bundles/os2displayadmin/images/cancel.png"/>
        </object>
      </div>
    </div>
    <div class="edit-menu--background-page">
      <div
          class="edit-menu--background-page-inner itk-template-extension--content">
        <h2 class="edit-menu--background-header">Tekstredigering</h2>

        <div class="itk-template-extension--tool-section">
          <h2 class="itk-template-extension--tool-headline">Vælg tekst</h2>
          <ng-quill-editor data-ng-model="slide.options.text"
                           on-editor-created="editorCreated(editor)">
            <ng-quill-toolbar style="text-align: left">
              <div>
              <span class="ql-formats">
                <button class="ql-italic"
                        ng-attr-title="{{'Italics'}}"></button>
                <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
              </span>
                <span class="ql-formats">
                <button type="button" class="ql-list" value="ordered"></button>
                <button type="button" class="ql-list" value="bullet"></button>
              </span>
                <span class="ql-formats">
                <button type="button" class="ql-header" value="1"></button>
                <button type="button" class="ql-header" value="2"></button>
              </span>
                <span class="ql-formats">
                <button type="button" class="ql-clean"></button>
              </span>
              </div>
            </ng-quill-toolbar>
          </ng-quill-editor>
        </div>

        <div class="itk-template-extension--tool-section">
          <h2 class="itk-template-extension--tool-headline">Vælg
            skriftstørrelse</h2>
          <div ng-repeat="fontsize in availableFontSizes">
            <input type="radio" ng-model="slide.options.fontsize"
                   value="{{fontsize.value}}"> <span>{{fontsize.name}}</span>
          </div>
        </div>

        <div class="itk-template-extension--button" data-ng-click="close()">
          Afslut
        </div>

      </div>
    </div>
  </div>
</div>
