<div class="itk-template-extension--tool" data-ng-class="{'open': open, 'close': !open}">
  <div class="itk-template-extension--tool-header">
    <div class="itk-template-extension--button" data-ng-click="closeTool()">
      Afslut
    </div>
  </div>

  <h1>Tekstredigering</h1>

  <div class="itk-template-extension--tool-section">
    <h2 class="itk-template-extension--tool-headline">Vælg tekst</h2>
    <ng-quill-editor data-ng-model="slide.options.text"
                     on-editor-created="editorCreated(editor)">
      <ng-quill-toolbar style="text-align: left">
        <div>
              <span class="ql-formats">
                <button class="ql-italic"
                        ng-attr-title="{{'Italics'}}"></button>
                <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
              </span>
          <span class="ql-formats">
                <button type="button" class="ql-list" value="ordered"></button>
                <button type="button" class="ql-list" value="bullet"></button>
              </span>
          <span class="ql-formats">
                <button type="button" class="ql-header" value="1"></button>
                <button type="button" class="ql-header" value="2"></button>
              </span>
          <span class="ql-formats">
                <button type="button" class="ql-clean"></button>
              </span>
        </div>
      </ng-quill-toolbar>
    </ng-quill-editor>
  </div>

  <div class="itk-template-extension--tool-section">
    <h2 class="itk-template-extension--tool-headline">Vælg skriftstørrelse</h2>
    <div ng-repeat="fontsize in availableFontSizes">
      <input type="radio" ng-model="slide.options.fontsize"
             value="{{fontsize.value}}"> <span>{{fontsize.name}}</span>
    </div>
  </div>

  <div class="itk-template-extension--button" data-ng-click="closeTool()">
    Afslut
  </div>

</div>
